node_modules/

public/build
public/build/*

forntend/.svelte-kit
frontend/node_modules
frontend/package-lock.json
frontend/package.json

package-lock.json

venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
.idea
node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*